<input type="number" [value]="duration()" (change)="changeDuration($event)">
<p></p>
<input type="text" [value]="message()" (change)="changeMessage($event)">
<p></p>
@if (duration() > 0) {
  <app-counter [duration]="duration()" [message]="message()" />
}
<p>Hola como estas</p>
Lorem ipsum dolor, <span highlight>sit amet consectetur adipisicing elit. </span>Qui ratione eveniet, vero eligendi omnis sunt. Rem accusantium corrupti ex earum ea consectetur porro aliquid, debitis illum voluptatum quos doloremque libero!
