<nav>
  <div
    class="w-full flex flex-wrap items-center justify-between mx-auto py-4"
    >
    <div class="flex items-center space-x-8">
      <a href="/" class="flex items-center ">
        <img
          src="https://www.reshot.com/preview-assets/icons/R4AGSHLCJQ/shop-R4AGSHLCJQ.svg"
          class="h-6 mr-3"
          alt="TiendApp Logo"
          />
          <span class="self-center text-xl font-semibold whitespace-nowrap"
            >TiendApp</span
            >
          </a>
          <ul class="flex space-x-6">
            <li>
              <a
                routerLink="/"
                routerLinkActive="underline"
                [routerLinkActiveOptions]="{exact: true}"
                class="block hover:underline"
                aria-current="page"
                >Home</a
                >
              </li>
              <li>
                <a
                  routerLink="/about"
                  routerLinkActive="underline"
                  class="block hover:underline"
                  >About</a
                  >
                </li>
                <li>
                  <a
                    routerLink="/services"
                    routerLinkActive="underline"
                    class="block hover:underline"
                    >Services</a
                    >
                  </li>
                </ul>
              </div>
              <div class="flex items-center">
                <button class="p-2 border rounded relative" (click)="toogleSideMenu()">
                  <div class="absolute -top-2 -left-2 rounded h-5 w-5 bg-black text-white text-xs">{{ cart().length }}</div>
                  <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAAsTAAALEwEAmpwYAAAA5ElEQVR4nO3WrwrCQBzA8W+waFVQo/gIJpPB4hCsgqBPYDHrA4gvIZh8g3UNaza7OLOCYeDfiXBBLN7N305Bv3Dtx3243WCDX20OhGqtgOYn4BA4AUUsN1H4wDbcULBnG04BAXABsrZxV526YxvuPr1sUmv2Ci7EBG90Tr2MAR7rwKMY4JYOXBFGr0BOB04AO0F4gUFTQXhoArcF4aoJnAHOAmgAJDHME4BdItQXgHtR4DywfwPdAmkiVlaP/GgAHtQPRikq+rvV1dfFBxyBOe38h/tbC8x9P+yoTe+b1QTm/mGlGw7LH6npIjrWAAAAAElFTkSuQmCC" alt="shopping-cart--v1">
                </button>
              </div>
            </div>
          </nav>

          <div
            class="fixed border-l-4 top-0 right-0 bg-red z-40 w-72 h-screen p-4 overflow-y-auto transition-transform bg-white " [class.translate-x-full]="hiddeSideMenu()">
            <div class="flex justify-between items-center">
              <p class="text-xl">Mi Carrito</p>
              <button (click)="toogleSideMenu()">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6"
                  >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M6 18L18 6M6 6l12 12"
                    />
                  </svg>
                </button>
              </div>
              <div class="pt-4 flex flex-col">
                @for (product of cart(); track product) {
                  <div class="flex justify-between items-center space-y-2">
                    <div class="flex space-x-2 items-center">
                      <img class="w-6 h-6" [src]="product.images[0]" [alt]="product.title">
                      <h3>{{ product.title }}</h3>
                    </div>
                    <p>{{ product.price }}</p>
                  </div>
                }
                <div>
                  <p>Total: {{ total() }}</p>
                </div>
              </div>
            </div>